
@{
    ViewBag.Title = "Kontakt";
}

<h2>Kontakt</h2>

<form>
    <div>
        <div>
            <img src="~/slike/kontakt/telefon.png" alt="" / style="height: 128px"> <br />
            Prodaja servera: <a href="mailto:daniel.vekic@gmail.com" target="_top">daniel.vekic@gmail.com</a> <br />
            Mob.: 0041 76 44 71 093 <br />
            Mob.: 00387 66 242 977 <br /><br />
        </div>

        <div>
            Instalacija OS-a, konfiguracija, fizička implementacija: <a href="mailto:amelrahmanovic@hotmail.com" target="_top">amelrahmanovic@hotmail.com</a> <br />
            Programiranje stranica, programa, ...: <a href="http://amel.ddns.net">http://amel.ddns.net</a> <br />
        </div>
    </div>
</form>