
@{
    ViewBag.Title = "Home";
}

<h3>PRODAJA SERVERA</h3>

<table style="width:100%;">
    <tr>
        <td style="width:50%;text-align: left;"> <a href="/Serveri"> <img src="~/slike/Server.png" class="img-responsive"> </a> </td>
        <td style="width:50%;text-align: right;"> <a href="/Mreza"> <img src="~/slike/Network.png" class="img-responsive"> </a> </td>
    </tr>
</table>



Da bismo zadovoljili Vaše potrebe pri nabavci novog ili polovnog servera u mogućnosti smo da Vam pored konsaltinga vezanog za nabavku i implementaciju servera ponudimo 
široku paletu servera najpoznatijih svetskih proizvođača.<br/><br/>
U mogućnosti smo da Vam ponudimo najpoznatije brendove servera za sve vrste namena... Kod nas možete nabaviti servere koje možete koristiti kao hardversku platformu za 
virtualizaciju, web servere, mail servere, aplikativne servere, servere baza podataka, NAS/SAN skladišta podataka, VoIP servere i sl.<br /><br /><br />
Takođe, u mogućnosti smo da Vam ponudimo neki od servera iz naše proizvodnje koji ćemo izraditi na osnovu Vaših potreba i zahteva, a koji po kvalitetu i funkcionalnosti 
neće zaostajati za serverima svetski poznatih proizvođača servera. Treba naglasiti i činjenicu da su serveri koje proizvedemo dosta jeftiniji, a podjednako pouzdani 
u odnosu na svetski poznate brendove, što Vam omogućava da racionalnije iskoristite IT budžet Vašeg preduzeća.
Za Više informacija o našoj ponudi servera najbolje je da nas kontaktirate putem e-maila ili telefona.<br/>
<center>
    <img src="~/slike/home/hp_logo.jpg" alt="" />
    <img src="~/slike/home/logo-dell.jpg" alt="" />
    <img src="~/slike/home/ibm-logo.jpg" alt="" />
    <img src="~/slike/home/fijitsu_logo.jpg" alt="" />
</center>