
@{
    ViewBag.Title = "Servis opreme";
}

<h3>Servis opreme</h3>

Servis je u potpunosti opremljen i osposobljen za održavanje Vaših desktop i laptop računara, kao i svih vrsta servera. Partnerski odnos sa firmom Dell i 
drugim velikim proizvođačima računarske opreme omogućava nam da imamo stalno dostupan lager originalnih rezervnih delova, kako bismo kvalitetno i brzo mogli da izvršimo 
sve vrste intervencija na računarskoj opremi, bilo na lokaciji klijenta ili u našem servisu.<br/><br/>

Mi pružamo usluga servisa kompjuterske opreme u garantnom i vangarantnom roku.<br /><br/>

<div>
    <img src="~/slike/servis/rsz_server-rack.jpg" alt="" class="img-responsive" />
</div>

<br/>
Usluge servisa vršimo u najkraćemo mogućem roku od momenta poziva klijenta.<br/><br/>

Usluge servisa se vrše u prostorijama naše firme, kao i na licu nesta - na lokaciji kod klijenta.<br /><br />

<div>
    <img src="~/slike/servis/alati.png" alt="" class="img-responsive" />
</div>

<br/>
Naše usluge se odlikuju brzom reakcijom, efikasnim pronalaženjem problema i brzom sanacijom problema.