
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Novi server";
}

<form action="/ServerDodajNovi/Snimi">
    <h3>Novi server</h3>

    <div class="form-group">
        <label for="comment">Naziv servera:</label>
        <input name="TextNazivServera" type="text" placeholder="Naziv servera" class="form-control" />
    </div>

    <div class="form-group">
        <label for="comment">Specifikacija:</label>
        <textarea class="form-control" rows="20" name="TextSpecifikacija" placeholder="Specifikacija servera"></textarea>
    </div>

    <div class="form-group">
        <label for="comment">RAM:</label>
        <input name="TextRAM" type="number" placeholder="RAM" class="form-control" />
    </div>

    <div class="form-group">
        <label for="comment">Cijena:</label>
        <input name="TextCijena" type="number" placeholder="Cijena" class="form-control" />
    </div>

    <div class="form-group">
        <label for="comment">OLX Link:</label>
        <input name="TextOLXLink" type="url" placeholder="OLX Link" class="form-control" />
    </div>
    
    <input type="submit" value="Snimi" class="btn btn-default"/>

</form>